body {
    background-color: black; 
    font-family: 'Special Elite', cursive;
    /* background-image: url("https://wallpapercave.com/wp/wp2938477.jpg") */
}

a {
    color: goldenrod;
}

h3 {
    color: goldenrod;
}