{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content%} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"> {% endblock %}
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
<div class="container">


    <!-- Technology News Section  -->

    <h3 id="technology" style="color:goldenrod;"> -Top Technology News- </h3>
    <hr> {{ macro.displaySourceList(technology_sources)}}

    <!-- Entertainment News Section  -->

    <h3 id="entertainment"style="color:goldenrod;"> -Top Entertainment News- </h3>
    <hr> {{ macro.displaySourceList(entertainment_sources)}}

    <!-- Top Sports News Section  -->

    <h3 id="sports"style="color:goldenrod;"> -Top Sports News- </h3>
    <hr> {{ macro.displaySourceList(sports_sources)}}

    <!-- Business News Section  -->
    <h3 id="business"style="color:goldenrod;"> -Top Business News- </h3>
    <hr> {{ macro.displaySourceList(sources)}}



</div>


{%endblock%}
